/**************************************************
*
*    web color
*
*    white        : #fff
*    gray         : #ddd
*    blue(light)  : #2b9be1
*    blue(dark)   : #064d86
*
**************************************************/

/*
GENERAL
*/
body {
    background-color: #ddd;
}

h1 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}
/*-----------------------------------------------
*    header
-----------------------------------------------*/
.logo {
    background: url(../img/logo.png) no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
}

.menu {
    background-color: #fff;
    height: 80px;
}

#header ul a {
    border: 1px solid #064d86;
    padding: 3px 10px;
}

#header a {
    margin-top: 20px;
}

/*-----------------------------------------------
*    sidebar
-----------------------------------------------*/
#sidebar {
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    background-color: #064d86;
}

#sidebar a {
    color: #fff;
    margin: 0 50px;
}

#sidebar li {
    width: 186px;
    text-align: center;
}
/*-----------------------------------------------
*    main
-----------------------------------------------*/
.banner {
    background: #fff url(../img/kp.jpg) right bottom no-repeat;
    height: 500px;
    background-size: 40%;
    position: relative;
}

.article {
    position: absolute;
    bottom: 50px;
    left: 100px;
}

.article p {
    font-size: 20px;
}

.article p:last-child {
    font-weight: bolder;
    font-size: 24px;
}

.content {
    position: relative;
}

.links {
    background-color: #2b9be1;
    width: 379px;
    height: 379px;
    display: inline-block;
    vertical-align: top;
    margin: 0 -1px;
}

.links h3 {
    color: #fff;
}

.square {
    width: 379px;
}

.rectangle {
    width: 760px;
    background-color: #fff;
}

.square,
.rectangle {
    position: relative;
    height: 379px;
    display: inline-block;
    margin: 0 -1px;
    vertical-align: top;
}

.img-title {
    color: #fff;
    width: auto;
    position: absolute;
    top: 155px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    text-shadow: 2px 2px 1px #555;
}

.rectangle h3 {
    color: #064d86;
    text-shadow: none;
}
/*-----------------------------------------------
*    footer
-----------------------------------------------*/
