/**************************************************
*
*    web color
*
*    white        : #fff
*    gray(light)  : #eee
*    gray(dark)   : #ddd
*    blue(light)  : #2b9be1
*    blue(dark)   : #064d86
*    black        : #000
*
**************************************************/

/*
GENERAL
*/
body {
    background: #ddd url(../img/bg2.jpg) repeat-x;
    font-family: NotoSansHant-DemiLight, sans-serif;
    background-size: 55%;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}
/*-----------------------------------------------
*    header
-----------------------------------------------*/
.logo {
    background: url(../img/logo2.jpg) no-repeat;
    width: 300px;
    height: 40px;
    background-size: contain;
}

.menu {
    background-color: #fff;
    height: 80px;
}

#header ul a {
    border: 1px solid #064d86;
    padding: 3px 10px;
}

#header a {
    margin-top: 20px;
}

/*-----------------------------------------------
*    sidebar
-----------------------------------------------*/
#sidebar {
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    background-color: #064d86;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#sidebar a {
    color: #fff;
    margin: 0 auto;
}

#sidebar li {
    width: 186px;
    text-align: center;
}
/*-----------------------------------------------
*    main
-----------------------------------------------*/
.banner {
    background: #fff url(../img/kp.jpg) right bottom no-repeat;
    height: 500px;
    background-size: 40%;
    position: relative;
}

.article {
    position: absolute;
    bottom: 50px;
    left: 100px;
}

.article p {
    font-size: 20px;
}

.article p:last-child {
    font-weight: bold;
    font-size: 24px;
}

.content {
    position: relative;
}

.links {
    background-color: #2b9be1;
    width: 379px;
    height: 379px;
    display: inline-block;
    vertical-align: top;
    margin: 0 -1px;
}

.links h1 {
    color: #fff;
    text-align: center;
    margin: 165px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}

.square,
.rectangle {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 379px;
    margin: 0 -1px;
    background-color: #064d86;
}

.square {
    width: 379px;
}

.rectangle {
    width: 760px;
    background-color: #fff;
}

.rectangle h3 {
    margin-bottom: 20px;
}

.rectangle div {
    margin-top: 100px;
}

.rectangle:hover {
    background-color: #eee;
}

.square:hover {
    opacity: 0.9;
}

.img-title {
    color: #fff;
    width: auto;
    position: absolute;
    text-align: center;
    top: 165px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    text-shadow: 2px 2px 1px #555;
}

.rectangle h3 {
    color: #064d86;
    text-shadow: none;
}
/*-----------------------------------------------
*    footer
-----------------------------------------------*/
#footer {
    background-color: #064d86;
}

#footer .row {
    margin: 20px auto;
}

#footer h4,
#footer p {
    color: #fff;
    text-align: center;
}

#footer .info h4,
#footer .info p {
    text-align: left;
}

.info p:first-child {
    margin-bottom: 10px;
}

.info p:last-child {
    margin-top: 10px;
}
